@model HexaControl.ViewModel.HexaPageData



@{
    ViewData["Title"] = "Blogs";
}

<section id="blog" class="blog">
    <div class="container">
        <div class="row mt-5 mb-3 justify-content-center">
            <div class="col-md-4 text-center">
                <div class="d-flex flex-row justify-content-center ">
                    <div>
                        <svg width="79" height="79" viewBox="0 0 79 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M51.4229 14.2944C52.875 14.2827 54.2193 15.0589 54.9352 16.3222L60.8136 26.6958L66.8582 36.9735C67.5944 38.2251 67.5944 39.7774 66.8582 41.0291L60.8136 51.3067L54.9352 61.6803C54.2193 62.9437 52.875 63.7198 51.4229 63.7082L39.4999 63.6122L27.5769 63.7082C26.1249 63.7198 24.7805 62.9437 24.0646 61.6803L18.1863 51.3067L12.1416 41.0291C11.4055 39.7774 11.4055 38.2251 12.1416 36.9735L18.1863 26.6958L24.0646 16.3222C24.7805 15.0589 26.1249 14.2827 27.5769 14.2944L39.4999 14.3904L51.4229 14.2944Z" fill="#37CCAB" />
                            <path d="M33.8318 39L40.9151 46.0833" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M46.5818 31.9167L40.2068 38.2917" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M33.8319 46.0833L26.7485 39" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M52.2486 34.75L40.9153 46.0833L32.4153 37.5833" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>



                    </div>
                    <div class="pt-2">
                        <p class="style-Title-sections ">
                            إقرأ أكثر حول هكسا
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="row list-wrapper justify-content-center">

            @foreach (var item in Model.Blogs)
            {


                <div class="col-lg-4 my-2 list-item   col-md-6  ">
                    <div class="box-blog-page" data-aos="fade-up" data-aos-delay="100">
                        <div class="d-flex flex-column">
                            <div class="my-2">
                                <img src="@Url.Content($"~/AllFiles/BlogsFiles/{item.MainName}")" class="img-fluid style-image-blog-card" alt="">
                            </div>
                            <div class="my-2">
                                <h4 class="style-title-blog-card">
                                    @item.MainArticle
                                </h4>
                            </div>

                        </div>
                        <div class="d-flex flex-row">
                            <div class="mx-1">
                               
                            </div>
                            <div class="mx-1">
                               
                                <span>
                                    <a asp-action="BlogDetails" asp-route-id="@item.Id" class="text-read-more">
                                        <span style="color:black">إقرأ أكثر</span>
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="non" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4.00977 11.98H18.9998" stroke="black" stroke-width="1.5" stroke-linecap="round"
                                                  stroke-linejoin="round" />
                                            <path d="M10.013 5.98798L4.00195 12L10.013 18.012" stroke="black" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>

                                    </a>
                                </span>

                            </div>
                        </div>

                        <div class="member-info">


                        </div>


                    </div>



                </div>





            }






        </div>

        <div class="row mt-3 ">
            <div id="pagination-container" class="justify-content-end">

            </div>
        </div>



    </div>
</section><!-- End Blog Section -->
