@model HexaControl.Models.Hero

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Hero</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MainText" class="control-label"></label>
                <input asp-for="MainText" class="form-control" />
                <span asp-validation-for="MainText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubText" class="control-label"></label>
                <input asp-for="SubText" class="form-control" />
                <span asp-validation-for="SubText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubUrl" class="control-label"></label>
                <input asp-for="SubUrl" class="form-control" />
                <span asp-validation-for="SubUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BtnUrl" class="control-label"></label>
                <input asp-for="BtnUrl" class="form-control" />
                <span asp-validation-for="BtnUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
