@model IEnumerable<HexaControl.Models.Contact>



<div class="container" dir="rtl">
    <table class="table">
        <thead>
            <tr>
                <th>
                    الايميل
                </th>
                <th style="max-width:300px">
                    الرسالة
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td style="max-width:300px">
                        @Html.DisplayFor(modelItem => item.Massege)
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>